Flask>=2.2
Flask-SocketIO>=5.3
Flask-SQLAlchemy>=3.0
SQLAlchemy>=2.0
requests>=2.31
requests-cache>=1.1
feedgen>=0.9
python-Levenshtein>=0.23
pycountry>=22.3.5
pytz>=2023.3
dateparser>=1.1
pyalex>=0.13
gevent>=23.9
gevent-websocket>=0.10.1
gunicorn>=21.2
redis>=5.0
