<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Available Feeds History</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/"><span class="text-primary">MIAGE</span> Scholar</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#msNav"
              aria-controls="msNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="msNav">
        <ul class="navbar-nav ms-3">
          <li class="nav-item"><a class="nav-link" href="/history">Query Logs</a></li>
          <li class="nav-item"><a class="nav-link" href="/networks">Citation Networks</a></li>
          <li class="nav-item"><a class="nav-link" href="/feeds">RSS Feeds</a></li>
          <li class="nav-item"><a class="nav-link" href="/venues">Authors tool</a></li>
          <li class="nav-item"><a class="nav-link" href="/stars">Stars</a></li>
        </ul>
      </div>


    </div>
  </nav>
<h1>Available RSS Feeds</h1>
<table class="table table-bordered table-hover">
    <thead>

    <td>id</td>
    <td>results count</td>
    <td>query</td>
    <td>lastUpdateDate</td>
    <td>hit</td>
    </thead>
    {% for feed in feeds %}
        <tr>
            <td><a href="/feed/{{ feed.id }}.rss">{{ feed.id }}</a></td>
            <td>{{ feed.count }}</td>
            <td>{{ feed.query }}</td>
            <td>{{ feed.lastBuildDate }}</td>
            <td>{{ feed.hit }}</td>

        </tr>
    {% endfor %}
</table>
</body>
</html>
