<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Query History</title>
</head>
<body>
<h1>Query History</h1>
<img src="https://scholar-wc.miage.dev/word-cloud?limit=5000" />
<table class="table table-bordered table-hover">
    <thead>
    <td>date</td>
    <td>query</td>
    <td>results</td>
    </thead>
    {% for query in queries %}
        <tr>
        <td>{{ query.timestamp }}</td>
            <td><a href="/permalink?query={{ query.query }}">{{ query.query }}</a></td>
        <td>{{ query.count }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>