<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/xref.css" class="xref">
    <link rel="stylesheet" href="static/css/oa.css" class="oa" disabled>
    <link rel="search" type="application/opensearchdescription+xml" href="static/xml/opensearch.xml" title="MIAGE Scholar">
    <meta charset="UTF-8">
    <title>MIAGE Scholar</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

    <script>

        function updateSciHubAccess(isSciHubReachable) {
            if (!isSciHubReachable) {
                document.getElementById("scihubok").style.display = "none";
                document.getElementById("scihubko").style.display = "revert";

            } else {
                document.getElementById("scihubok").style.display = "revert";
                document.getElementById("scihubko").style.display = "none";
            }
        }

        var sciHubReachable = false;
        fetch('https://sci-hub.se', {mode: 'no-cors'}).then(r => {
            updateSciHubAccess(true);
        })
            .catch(e => {
                updateSciHubAccess(false);
            });

        function get(object, key, default_value) {
            var result = object[key];
            return (typeof result !== "undefined") ? result : default_value;
        }

        var table = undefined;
        var bag_of_doi = {};
        var item_info = new Array();

        function download(filename, dois) {

            var text = "";
            var i = 0;
            for (const property in dois) {
                const content = dois[property];
                text += `@article{miage_scholar_article_${i++},
abstract = {${content["X-abstract"]}},
author = {${content["X-authors"]}},
doi = {${content["doi"]}},
title = {${content["title"]}},
year = {${content["year"]}},
journal = { { ${content["pubtitle"]} } },
}
`
            }

            var element = document.createElement('a');
            element.setAttribute('href', 'data:application/x-bibtex;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        function onLoaded(evt) {

            document.getElementById("xref").checked = window.localStorage.getItem("xref") === 'true';
            document.getElementById("oa").checked = window.localStorage.getItem("oa") === 'true';

            if (document.getElementById("xref").checked || document.getElementById("oa").checked) {
                $("#options").collapse('show');
            }

            if (document.getElementById("querybox").value == "") {
                document.getElementById("querybox").value = window.localStorage.getItem("query");


            } else {
                //we already have a query, just fetch the results
                handle_submit();
            }
        }


        function textAreaChange() {
            updateQueryStorage(document.getElementById("querybox").value);
        }

        function updateQueryStorage(str) {
            window.localStorage.setItem("query", str);
        }


        window.onload = onLoaded;

        const socket = io();

        socket.on('connect', function () {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        socket.on('count', (count) => {
            document.getElementById("main_button").value = "fetch " + count + " results ";
            handle_submit = sendDoisRequest;
            document.getElementById("permalink").removeAttribute("hidden");
        });

        socket.on('dois', (data) => {
            console.log(data);

        });

        socket.on('feed_generated', (data) => {
            window.open("/feed/" + data["feed_id"] + ".rss", '_blank');

        });

        socket.on('permalink_generated', (data) => {

            document.getElementById("permalink").value = "Copied!";
            navigator.clipboard.writeText(data);


        });


        socket.on('doi_export_done', (data) => {
            document.getElementById("dlresults").removeAttribute("hidden");
            document.getElementById("rss").removeAttribute("hidden");
            $(document).ready(function () {
                if (table != undefined) {
                    table.destroy();
                }
                table = $('table').DataTable({
                    "paging": false,
                    "ordering": true,

                });
            });


        })

        socket.on('doi_update', (data) => {

            document.getElementById("pb_success").setAttribute("max", data["total"]);
            document.getElementById("pb_success").setAttribute("value", data["done"]);
            document.getElementById("pb_success_count").innerHTML = data["done"] + "/" + data["total"];
            document.getElementById("pb_failure").setAttribute("max", data["total"]);
            document.getElementById("pb_failure").setAttribute("value", data["failed"]);
            document.getElementById("pb_failure_count").innerHTML = data["failed"] + "/" + data["total"];


        });

        socket.on('doi_results', (data) => {
            for (let doi_item of data) {
                var doi = doi_item["doi"];
                var title = doi_item["title"] + " " + get(doi_item, "X-IsReferencedByCount", "");
                var year = doi_item["year"]
                add_item_to_table(doi_item);
                if (doi != "") {
                    item_info.push(doi_item);

                    bag_of_doi[doi] = doi_item
                }
            }


        });

        function add_item_to_table(doi_item) {
            var row = document.getElementById("doi_table").insertRow()

            if (doi_item["doi"] != "") {
                row.classList.add("table-success");

                //sometime doi contain _ for books chapter, remove it since it does always work with sci-hub
                full_doi = doi_item["doi"].split("_")[0]
                row.innerHTML = "<th  scope=\"row\"><a target=\"_blank\" href=\"https://www.doi.org/" + doi_item["doi"] + "\">" + doi_item["doi"] + "</a></th><td>" + doi_item["year"] + "</td><td>" + doi_item["title"] + "</td><td class='xref xref-abstract' style='width: 50%'>" + get(doi_item, "X-abstract", "") + "</td><td class=\"cite_count xref\">" + get(doi_item, "X-IsReferencedByCount", "") + "</td><td class=\"ref_count xref\">" + get(doi_item, "X-refcount", "") + "</td><td class=\"subject xref\">" + get(doi_item, "X-subject", []) + "</td><td>" + doi_item["pubtitle"] + "</td>"
                row.innerHTML += "<td><a target=\"_blank\" href=\"/sameauthor?name=" + encodeURIComponent(doi_item["X-FirstAuthor"]) + "&orcid=" + encodeURIComponent(doi_item["X-FirstAuthor-ORCID"]) + "\" target=\"_blank\"\">" + doi_item["X-FirstAuthor"] + "</td>"
                if (get(doi_item, "X-OA", false) == false) {
                    row.classList.add("table-info");
                    row.classList.add("paywall");
                    row.innerHTML += "<td><a href=\"https://sci-hub.se/" + full_doi + "\" target=\"_blank\">Download</a></td>"
                } else {
                    row.classList.add("table-success");
                    row.classList.add("openaccess");
                    row.innerHTML += "<td><a target=\"_blank\" href=\"https://www.doi.org/" + doi_item["doi"] + "\">Open Access!</a></td>"
                }
                row.innerHTML += "<td><a target=\"_blank\" href=\"/snowball?title=" + encodeURIComponent(doi_item["title"]) + "\" target=\"_blank\"\">Snowball</td>"
            } else {
                row.classList.add("table-dark");
                row.classList.add("paywall");
                row.innerHTML = "<th  scope=\"row\">None</th><td>" + doi_item["year"] + "</td><td>" + doi_item["title"] + "</td>" + "<td class='xref'></td><td class='xref'></td><td class='xref'></td><td>" + doi_item["pubtitle"] + "</td><td></td>" + "<td>-</td><td>-</td>";
            }


        }


        function sendCountRequest() {
            document.getElementById("querybox").disabled = true;
            socket.emit('count', {query: document.getElementById("querybox").value});
        }

        function sendDoisRequest() {

            document.getElementById("main_button").disabled = true;
            socket.emit('get_dois', {
                query: document.getElementById("querybox").value,
                xref: document.getElementById("xref").checked
            });

        }


        handle_submit = sendCountRequest;

        function resetAll() {
            bag_of_doi = {};
            window.location = "/";
            handle_submit = sendCountRequest;
            document.getElementById("main_button").value = "Count Results";
            document.getElementById("dlresults").setAttribute("hidden", "true");
            document.getElementById("rss").setAttribute("hidden", "true");
            resetPermalinkButton();
            table.destroy();

            //document.getElementById("querybox").value = "";
            document.getElementById("pb_success").setAttribute("max", 0);
            document.getElementById("pb_success").setAttribute("value", 0);
            document.getElementById("pb_failure").setAttribute("max", 0);
            document.getElementById("pb_failure").setAttribute("value", 0);
            document.getElementById("pb_failure_count").innerHTML = "";
            document.getElementById("pb_success_count").innerHTML = "";
            //document.getElementById("doi_table").innerHTML = "";
            document.getElementById("main_button").disabled = false;
            document.getElementById("querybox").disabled = false;
        }

        function downloadResults() {

            download("results.bib", bag_of_doi)
        }

        function copyPermalink() {

            socket.emit('create_permalink', {query: document.getElementById("querybox").value});


        }

        function createRssLink() {
            socket.emit('create_feed', {query: document.getElementById("querybox").value});
        }

        function resetPermalinkButton() {
            document.getElementById("permalink").value = "Get Query Permalink";
            document.getElementById("permalink").setAttribute("hidden", "true");
        }

        function xref_changed() {


            document.querySelectorAll('link.xref').forEach(function (node) {
                node.disabled = document.getElementById("xref").checked;


            });
            window.localStorage.setItem("xref", document.getElementById("xref").checked);

        }

        function oa_changed() {


            document.querySelectorAll('link.oa').forEach(function (node) {
                node.disabled = !document.getElementById("oa").checked;
                window.localStorage.setItem("oa", document.getElementById("oa").checked);

            });

        }


    </script>
</head>
<body>
<div class="jumbotron">


    <h1 class="display-4">MIAGE Scholar</h1>
    <p class="lead">Export Scholar data for your SMS/SLRs <span id="scihubok" data-toggle="tooltip"
                                                                class="badge badge-success scihubinfo"
                                                                title="sci-hub server reachable">Sci-Hub servers</span>
        <span id="scihubko" data-toggle="tooltip" class="badge badge-danger scihubinfo" title="Can't contact Sci-Hub servers, you may not be able to bypass paywall due to ISP restriction. You should consider changing your DNS server to 8.8.8.8, 8.8.4.4 or 1.1.1.1
        ">Sci-Hub servers</span><span
                class="badge badge-warning">beta</span></p>


    <p>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#import_procedure"
                aria-expanded="false" aria-controls="collapseExample">
            SMS/SLR Import Procedure
        </button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#importTuto"
                aria-expanded="false" aria-controls="collapseExample">
            SMS/SLR Import Tutorial (video)
        </button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#releaseNotes"
                aria-expanded="false" aria-controls="collapseExample">
            Release Notes
        </button>
        <button class="btn btn-secondary" type="button" onclick="window.location='http://schema.elsevier.com/dtds/document/bkapi/search/SCOPUSSearchTips.htm';">
            Query Language Doc
        </button>
        <button class="btn btn-secondary" type="button" onclick="window.location='https://github.com/nherbaut/scholar.miage.dev';">
            Sources
        </button>
         <button class="btn btn-secondary" type="button" onclick="window.location='https://github.com/nherbaut/scholar.miage.dev/issues';">
            Repport a Bug
        </button>
    </p>
    <div class="collapse" id="import_procedure">
        <div class="card card-body">
            <ol>
                <li>Type your query by following the <a
                        href="http://schema.elsevier.com/dtds/document/bkapi/search/SCOPUSSearchTips.htm">doc</a> e.g.
                    <i>TITLE-ABS-KEY(blockchain)
                        AND TITLE-ABS-KEY(INDUSTRY 4.0) AND (TITLE-ABS-KEY(Security) OR TITLE-ABS-KEY(Privacy))</i></li>
                <li>Click "count results" to get the number of results</li>
                <li>Once you have a number, click Fetch to resolve DOIs</li>
                <li>Once the resolving is done, a button allows you to download a bibtex file</li>
                <li>import it in <a href="https://www.mendeley.com/download-mendeley-desktop-legacy">mendeley Desktop
                    Legacy</a></li>
                <li>Select all the (yet untitled) entries and right click > update details</li>
                <li>Wait for mendeley to populate each entry</li>
                <li>In mendeley, select all entires and export as a bib file</li>
                <li>Import your results in <a href="https://parsif.al/">parsif.al</a></li>
            </ol>
        </div>
    </div>

    <div class="collapse" id="importTuto">
        <div class="card card-body">
            <p>
                <a href="https://mediatheque.univ-paris1.fr/video/2870-miage-scholar-tutorial-importing-search-results-in-parsifal/"
                   target="_blank">Access video tutorial here</a></p>
        </div>
    </div>

    <div class="collapse" id="releaseNotes">
        <div class="card card-body">

            <h2>Release note</h2>
            <ul>
                <li>1.1.0 CrossRef Metadata retrieval, Open Access Filter, Open Access shows in a different colour,
                    bibtex export contains basic fields, sortable and filterable result table, Sci-hub badge
                </li>
                <li>1.0.3 Added Permalink Support</li>
                <li>1.0.2 Added <a href="/feeds">RSS Support</a></li>
                <li>1.0.1 Added <a href="/history">History</a></li>
                <li>1.0.0 Initial version</li>
            </ul>
        </div>
    </div>




</div>
<div style="width: 90%; margin: auto;">

    <!--
    {% if  login_url %}
        <input type="button" class="btn btn-primary" onclick="window.location='{{ login_url }}'"
               value="Connect to Mendeley"/>
    {% else %}
        <input type="button" class="btn btn-error" onclick="window.location='{{ "/mendeleyLogout" }}'"
               value="Disconnect from Mendeley"/>
    {% endif %}
!-->

    <form action="query" method="POST">
        <p>Query:</p>
        <p>example: TITLE-ABS-KEY(blockchain) AND TITLE-ABS-KEY(INDUSTRY 4.0) AND (TITLE-ABS-KEY(Security) OR
            TITLE-ABS-KEY(Privacy)) AND PUBYEAR > 2020</p>
        <fieldset>


            {% if count %}
                <textarea id="querybox" name="query" readonly>{{ query }}</textarea>


                </fieldset>
                <input class="btn btn-secondary" type="button" value="Reset" onclick="resetAll()"/>
                <input type="submit" value="Fetch {{ count }} results (up to 1000)">
            {% else %}
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#options"
                        aria-expanded="false" aria-controls="collapseExample">
                    Options
                </button>
                <div class="collapse" id="options">
                    <div class="card card-body">
                        <div>
                            <input type="checkbox" id="xref" name="xref"
                                   onchange="xref_changed()" unchecked>
                            <label for="xref">Download metadata with xref (10x slower)<span
                                    class="badge badge-warning">beta</span></label>
                        </div>
                        <div>
                            <input type="checkbox" id="oa" name="oa"
                                   onchange="oa_changed()" unchecked>
                            <label for="oa">Show only Open Access work<span
                                    class="badge badge-warning">beta</span></label>
                        </div>
                    </div>
                </div>

                <textarea id="querybox" name="query" onkeyup="textAreaChange()"
                          style="width:100%">{{ query }}</textarea>


                </fieldset>
                <input class="btn btn-secondary" type="button" value="Reset" onclick="resetAll()"/>
                <input class="btn btn-primary" id="main_button" type="button" value="Count Results"
                       onclick="handle_submit()">
            {% endif %}

        <input class="btn btn-success" id="permalink" type="button" value="Get Query Permalink"
               onclick="copyPermalink()"
               hidden/>
        <input class="btn btn-success" id="dlresults" type="button" value="Download dois as bibtex"
               onclick="downloadResults()"
               hidden/>
        <input class="btn btn-success" id="rss" type="button" value="Create RSS Link"
               onclick="createRssLink()"
               hidden/>


    </form>


    <div>
        <div>
            <label for="file">Resolved DOIs:</label>
            <progress id="pb_success" max="0" value="0"></progress>
            <span id="pb_success_count"></span>
        </div>
        <div>
            <label for="file">Entry without DOIs:</label>
            <progress id="pb_failure" max="0" value="0"></progress>
            <span id="pb_failure_count"></span>
        </div>
    </div>

    <table class="table table-bordered table-hover sortable w-auto">
        <thead>
        <td>DOI</td>
        <td>Date</td>
        <td>Title</td>
        <td class="xref xref-abstract" style="width:200px">Abstract</td>
        <td class="cite_count xref">Citation Count</td>
        <td class="ref_count xref">Reference Count</td>
        <td class="subject xref">Subjects</td>
        <td>Publication Title</td>
        <td>Author</td>
        <td>Sci-Hb link</td>
        <td>Snowball Link</td>

        </thead>
        <tbody id="doi_table">


        </tbody>

    </table>
</div>

</body>


</html>
