<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/flag-icon.css">
    <link rel="stylesheet" href="static/css/xref.css" class="xref">
    <link rel="stylesheet" href="static/css/oa.css" class="oa" disabled>
    <link rel="stylesheet" href="static/contrib/css/dark-mode.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="static/contrib/js/mustache.js"></script>
    <link rel="search" type="application/opensearchdescription+xml" href="static/xml/opensearch.xml"
          title="MIAGE Scholar">
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />

    <meta charset="UTF-8">
    <title>MIAGE Scholar</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>


    <script type="text/javascript" src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

    <script>

        var tableRowTemplate = undefined;
        fetch("static/js/result-table.mustache")
            .then((response) => response.text())
            .then((template) => {
                tableRowTemplate = template;
            });


        function updateSciHubAccess(isSciHubReachable) {
            if (!isSciHubReachable) {
                document.getElementById("scihubok").style.display = "none";
                document.getElementById("scihubko").style.display = "revert";

            } else {
                document.getElementById("scihubok").style.display = "revert";
                document.getElementById("scihubko").style.display = "none";
            }
        }

        var sciHubReachable = false;
        fetch('https://sci-hub.se', {mode: 'no-cors'}).then(r => {
            updateSciHubAccess(true);
        })
            .catch(e => {
                updateSciHubAccess(false);
            });

        function get(object, key, default_value) {
            var result = object[key];
            return (typeof result !== "undefined") ? result : default_value;
        }

        var table = undefined;
        var bag_of_doi = {};
        var item_info = new Array();

        function download(filename, dois) {

            var text = "";
            var i = 0;
            for (const property in dois) {
                const content = dois[property];
                text += `@article{miage_scholar_article_${i++},
abstract = {${content["X-abstract"]}},
author = {${content["X-authors"]}},
doi = {${content["doi"]}},
title = {${content["title"]}},
year = {${content["year"]}},
journal = { { ${content["pubtitle"]} } },
}
`
            }

            var element = document.createElement('a');
            element.setAttribute('href', 'data:application/x-bibtex;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        function onLoaded(evt) {

            document.getElementById("xref").checked = window.localStorage.getItem("xref") === 'true';
            xref_changed()
            document.getElementById("cite_bib").checked = window.localStorage.getItem("cite_bib") === 'true';
            document.getElementById("oa").checked = window.localStorage.getItem("oa") === 'true';


            if (document.getElementById("xref").checked || document.getElementById("oa").checked) {
                $("#options").collapse('show');
            }

            if (document.getElementById("querybox").value == "") {
                document.getElementById("querybox").value = window.localStorage.getItem("query");


            } else {
                //we already have a query, just fetch the results
                handle_submit();
            }
        }


        function textAreaChange() {
            updateQueryStorage(document.getElementById("querybox").value);
        }

        function updateQueryStorage(str) {
            window.localStorage.setItem("query", str);
        }


        window.onload = onLoaded;

        const socket = io();

        socket.on('connect', function () {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        socket.on('count', (count) => {
            if (count > 1000) {
                document.getElementById("main_button").value = "fetch the first 1000 (" + count + " breaches the mimit)";
            } else {
                document.getElementById("main_button").value = "fetch " + count + " results ";
            }
            handle_submit = sendDoisRequest;
            document.getElementById("permalink").removeAttribute("hidden");
        });

        socket.on('dois', (data) => {
            console.log(data);

        });

        socket.on('feed_generated', (data) => {
            window.open("/feed/" + data["feed_id"] + ".rss", '_blank');

        });

        socket.on('permalink_generated', (data) => {

            document.getElementById("permalink").value = "Copied!";
            navigator.clipboard.writeText(data);


        });


        socket.on('doi_export_done', (data) => {
            document.getElementById("pb_success").classList.remove("progress-bar-striped");
            document.getElementById("pb_failure").classList.remove("progress-bar-striped");
            document.getElementById("dlresults").removeAttribute("hidden");
            document.getElementById("dlresultsxsl").removeAttribute("hidden");

            document.getElementById("rss").removeAttribute("hidden");
            document.getElementById("cloud").removeAttribute("hidden");

            try {
                table = $('table').DataTable({
                    "paging": false,
                    scrollY: '50vh',
                    scrollCollapse: true,
                    "ordering": true,

                    "order": [[1, "desc"]]
                });
            } catch (e) {
                console.log(e);
            }


        })

        socket.on('doi_update', (data) => {
            document.getElementById("pb_success").classList.add("progress-bar-striped");
            document.getElementById("pb_success").setAttribute("aria-valuemax", data["total"]);
            document.getElementById("pb_success").setAttribute("aria-valuenow", data["done"]);
            document.getElementById("pb_success").style.width = 100 * data["done"] / data["total"] + "%";
            document.getElementById("pb_success_count").innerHTML = data["done"];
            document.getElementById("pb_failure").classList.add("progress-bar-striped");
            document.getElementById("pb_failure").setAttribute("aria-valuemax", data["total"]);
            document.getElementById("pb_failure").setAttribute("aria-valuenow", data["failed"]);
            document.getElementById("pb_failure").style.width = 100 * data["failed"] / data["total"] + "%";
            document.getElementById("pb_failure_count").innerHTML = data["failed"];


        });

        socket.on('doi_results', (data) => {

            var rendered_html = "";
            for (let doi_item of data) {
                var doi = doi_item["doi"];
                var title = doi_item["title"] + " " + get(doi_item, "X-IsReferencedByCount", "");
                var year = doi_item["year"]
                rendered_html += add_item_to_table(doi_item);
                if (doi != "") {
                    item_info.push(doi_item);

                    bag_of_doi[doi] = doi_item
                }

            }
            document.getElementById("doi_table").innerHTML += rendered_html;


        });

        function add_item_to_table(doi_item) {


            let firstAuthorLink = "sameauthor?name=" + encodeURIComponent(doi_item["X-FirstAuthor"]);

            if (doi_item["X-FirstAuthor-ORCID"]) {
                firstAuthorLink += "&orcid=" + encodeURIComponent(doi_item["X-FirstAuthor-ORCID"])
            }
            const full_doi = doi_item["doi"].split("_")[0];


            var rendered = Mustache.render(tableRowTemplate, {
                success: doi_item["doi"] != "" ? true : false,
                openaccess: get(doi_item, "X-OA", false) != false,
                doi: doi_item["doi"],
                issn: doi_item["issn"],
                full_doi: full_doi,
                year: doi_item["year"],
                title: doi_item["title"],
                abstract: get(doi_item, "X-abstract", ""),
                cite_count: get(doi_item, "X-IsReferencedByCount", ""),
                ref_count: get(doi_item, "X-refcount", ""),
                subject: get(doi_item, "X-subject", []),
                pub_title: doi_item["pubtitle"],
                pub_rank: doi_item["pub_rank"],
                rank_source: doi_item["rank_source"],
                hindex: doi_item["hindex"],
                same_auth_link: firstAuthorLink,
                name: doi_item["X-FirstAuthor"],
                affil: doi_item["X-Country-First-affiliation"],
                country: doi_item["X-Country-First-Author"],
            });
            return rendered;

        }


        function sendCountRequest() {
            document.getElementById("querybox").disabled = true;
            socket.emit('count', {query: document.getElementById("querybox").value});
        }

        function sendDoisRequest() {

            //when the request for doi is done, you can't change the xref option because it breaks DAtaTable

            document.getElementById("xref").disabled = true;

            document.getElementById("main_button").disabled = true;
            socket.emit('get_dois', {
                query: document.getElementById("querybox").value,
                xref: document.getElementById("xref").checked
            });

        }


        handle_submit = sendCountRequest;

        function resetAll() {
            bag_of_doi = {};
            window.location = "/";
            handle_submit = sendCountRequest;
            document.getElementById("main_button").value = "Count Results";
            document.getElementById("dlresults").setAttribute("hidden", "true");
            document.getElementById("dlresultsxsl").setAttribute("hidden", "true");
            document.getElementById("rss").setAttribute("hidden", "true");
            resetPermalinkButton();

            //document.getElementById("querybox").value = "";
            document.getElementById("pb_success").setAttribute("max", 0);
            document.getElementById("pb_success").setAttribute("value", 0);
            document.getElementById("pb_failure").setAttribute("max", 0);
            document.getElementById("pb_failure").setAttribute("value", 0);
            document.getElementById("pb_failure_count").innerHTML = "";
            document.getElementById("pb_success_count").innerHTML = "";
            //document.getElementById("doi_table").innerHTML = "";
            document.getElementById("main_button").disabled = false;
            document.getElementById("querybox").disabled = false;
        }

        function downloadResults() {

            download("results.bib", bag_of_doi)
        }

        function downloadExcel(type, fn, dl) {
            var elt = document.getElementById('doitable');
            var wb = XLSX.utils.table_to_book(elt, {sheet: "sheet1"});
            return dl ?
                XLSX.write(wb, {bookType: type, bookSST: true, type: 'base64'}) :
                XLSX.writeFile(wb, fn || ('MIAGEScholarResults.' + (type || 'xlsx')));

        }


        function copyPermalink() {

            socket.emit('create_permalink', {query: document.getElementById("querybox").value});
        }

        function get_doi_cite(elt) {

            let style = "apa";
            if (document.getElementById("cite_bib").checked) {
                style = "bibtex";
            }

            const my_doi = elt.attributes.doi.value;
            var query = ".cite_btn[doi='" + my_doi + "']";
            document.querySelector(query).value = "Retrieving!";
            document.querySelector(query).classList.remove("btn-info");
            document.querySelector(query).classList.add("btn-warning");
            fetch("/cite?doi=" + my_doi + "&style=" + style)
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json()
                })
                .then(function (response) {
                    var query = ".cite_btn[doi='" + response["doi"] + "']";
                    document.querySelector(query).value = "Copied!";
                    document.querySelector(query).classList.remove("btn-warning");
                    document.querySelector(query).classList.add("btn-success");
                    setTimeout(function () {
                        document.querySelector(query).value = "Copy Citation";
                        document.querySelector(query).classList.remove("btn-success");
                        document.querySelector(query).classList.add("btn-info");
                    }, 3.0 * 1000)
                    navigator.clipboard.writeText(response["citation"]);
                });
        }


        async function fetchCloud(data = []) {
            // Default options are marked with *
            const response = await fetch("https://scholar-wc.miage.nextnet.top/word-cloud?gramSize=4", {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.blob(); // parses JSON response into native JavaScript objects
        }

        function cloudResults() {
            fetchCloud(Object.values(bag_of_doi).map(item => item["title"])).then(blob => {
                var img = URL.createObjectURL(blob);
                document.getElementById('cloud').setAttribute('src', img);
                document.getElementById('cloudimg').setAttribute('src', img);
                document.getElementById("cloudimg").removeAttribute("hidden");
            });
        }

        function createRssLink() {
            socket.emit('create_feed', {query: document.getElementById("querybox").value});
        }

        function resetPermalinkButton() {
            document.getElementById("permalink").value = "Get Query Permalink";
            document.getElementById("permalink").setAttribute("hidden", "true");
        }

        function xref_changed() {


            document.querySelectorAll('link.xref').forEach(function (node) {
                node.disabled = document.getElementById("xref").checked;


            });
            window.localStorage.setItem("xref", document.getElementById("xref").checked);

        }

        function add_domain_restriction_to_query() {
            var options = Array.prototype.slice.call(document.querySelector("#domain_select").selectedOptions);
            var querybox = document.querySelector("#querybox");

            querybox.value = "(" + querybox.value + ") AND (" + options.map((elt) => {
                return `SUBJAREA("${elt.getAttribute("value")}")`
            }).join(" OR ") + " )"
        }


        function add_source_restriction_to_query() {
            var options = Array.prototype.slice.call(document.querySelector("#source_select").selectedOptions);
            var querybox = document.querySelector("#querybox");

            querybox.value = "(" + querybox.value + ") AND (" + options.map((elt) => {
                return `${elt.getAttribute("code")}("${elt.getAttribute("value")}")`
            }).join(" OR ") + " )"
        }

        function cite_bib_changed() {
            window.localStorage.setItem("cite_bib", document.getElementById("cite_bib").checked);
        }

        function oa_changed() {


            document.querySelectorAll('tr.paywall').forEach(function (node) {
                if (document.getElementById("oa").checked) {
                    node.style.display = 'none';
                } else {
                    node.style.display = 'table-row';
                }


            });
            window.localStorage.setItem("oa", document.getElementById("oa").checked);

        }


    </script>
</head>
<body>
<div class="jumbotron">


    <h1 class="display-4">MIAGE Scholar</h1>
    <p class="lead">Export Scholar data for your SMS/SLRs <span id="scihubok" data-bs-toggle="tooltip"
                                                                class="badge bg-success scihubinfo"
                                                                title="sci-hub server reachable">Sci-Hub servers</span>
        <span id="scihubko" data-bs-toggle="tooltip" class="badge bg-danger scihubinfo" title="Can't contact Sci-Hub servers, you may not be able to bypass paywall due to ISP restriction. You should consider changing your DNS server to 8.8.8.8, 8.8.4.4 or 1.1.1.1
        ">Sci-Hub servers</span></p>


    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#import_procedure"
                aria-expanded="false" aria-controls="collapseExample">
            SMS/SLR Import Procedure
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#importTuto"
                aria-expanded="false" aria-controls="collapseExample">
            SMS/SLR Import Tutorial (video)
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#releaseNotes"
                aria-expanded="false" aria-controls="collapseExample">
            Release Notes
        </button>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#word_cloud"
                aria-expanded="false" aria-controls="collapseExample">
            Popular search terms
        </button>


        <button class="btn btn-light" type="button"
                onclick="window.location='http://schema.elsevier.com/dtds/document/bkapi/search/SCOPUSSearchTips.htm';">
            Query Language Doc
        </button>
        <button class="btn btn-light" type="button"
                onclick="window.location='https://github.com/nherbaut/scholar.miage.nextnet.top';">
            Sources
        </button>
        <button class="btn btn-light" type="button"
                onclick="window.location='https://github.com/nherbaut/scholar.miage.nextnet.top/issues';">
            Repport a Bug
        </button>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-inloput" id="darkSwitch"/>
        <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
    </div>
    </p>
    <div class="collapse" id="import_procedure">
        <div class="card card-body">
            <ol>
                <li>Type your query by following the <a
                        href="http://schema.elsevier.com/dtds/document/bkapi/search/SCOPUSSearchTips.htm">doc</a> e.g.
                    <i>TITLE-ABS-KEY(blockchain)
                        AND TITLE-ABS-KEY(INDUSTRY 4.0) AND (TITLE-ABS-KEY(Security) OR TITLE-ABS-KEY(Privacy))</i></li>
                <li>Click "count results" to get the number of results</li>
                <li>Once you have a number, click Fetch to resolve DOIs</li>
                <li>Once the resolving is done, a button allows you to download a bibtex file</li>
                <li>import it in <a href="https://www.mendeley.com/download-mendeley-desktop-legacy">mendeley Desktop
                    Legacy</a></li>
                <li>Select all the (yet untitled) entries and right click > update details</li>
                <li>Wait for mendeley to populate each entry</li>
                <li>In mendeley, select all entires and export as a bib file</li>
                <li>Import your results in <a href="https://parsif.al/">parsif.al</a></li>
            </ol>
        </div>
    </div>

    <div class="collapse" id="importTuto">
        <div class="card card-body">
            <p>
                <a href="https://mediatheque.univ-paris1.fr/video/2870-miage-scholar-tutorial-importing-search-results-in-parsifal/"
                   target="_blank">Access video tutorial here</a></p>
        </div>
    </div>

    <div class="collapse" id="releaseNotes">
        <div class="card card-body">

            <h2>Release note</h2>
            <ul>
                <li>1.5.0 Allow selecting several conf/journal to restrict the query, restric the query by subject area,
                    include CORE2021/CORE2018 and scimajr in extra metadata
                <li>1.4.0 export citation directly as txt or bitex
                </li>
                <li>1.3.0 added word cloud, added issn identifiers links and google scholar links when available for
                    documents without DOI
                </li>
                <li>1.2.0 Country and affiliation for first author, added preset <a href="/sources">conf/journal
                    restrictions</a></li>
                <li>1.1.0 CrossRef Metadata retrieval, Open Access Filter, Open Access shows in a different colour,
                    bibtex export contains basic fields, sortable and filterable result table, Sci-hub badge
                </li>
                <li>1.0.3 Added Permalink Support</li>
                <li>1.0.2 Added <a href="/feeds">RSS Support</a></li>
                <li>1.0.1 Added <a href="/history">History</a></li>
                <li>1.0.0 Initial version</li>
            </ul>
        </div>
    </div>


</div>
<div style="width: 90%; margin: auto;">

    <!--
    {% if  login_url %}
        <input type="button" class="btn btn-primary" onclick="window.location='{{ login_url }}'"
               value="Connect to Mendeley"/>
    {% else %}
        <input type="button" class="btn btn-error" onclick="window.location='{{ "/mendeleyLogout" }}'"
               value="Disconnect from Mendeley"/>
    {% endif %}
!-->

    <form action="query" method="POST">
        <p>Query:</p>
        <p>example: TITLE-ABS-KEY(blockchain) AND TITLE-ABS-KEY(INDUSTRY 4.0) AND (TITLE-ABS-KEY(Security) OR
            TITLE-ABS-KEY(Privacy)) AND PUBYEAR > 2020</p>
        <fieldset>


            {% if count %}
                <textarea id="querybox" name="query" readonly>{{ query }}</textarea>


                </fieldset>
                <input class="btn btn-secondary" type="button" value="Reset" onclick="resetAll()"/>
                <input type="submit" value="Fetch {{ count }} results (up to 1000)">
            {% else %}
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#options"
                        aria-expanded="false" aria-controls="collapseExample">
                    Options
                </button>
                <div class="collapse" id="options">
                    <div class="card card-body">
                        <div>
                            <input type="checkbox" id="xref" name="xref"
                                   onchange="xref_changed()" unchecked>
                            <label for="xref">Download paper metadata (10x slower)<span
                                    class="badge bg-warning">beta</span></label>
                        </div>
                        <div>
                            <input type="checkbox" id="oa" name="oa"
                                   onchange="oa_changed()" unchecked>
                            <label for="oa">Show only Open Access work</label>
                        </div>

                        <div>
                            <input type="checkbox" id="cite_bib" name="cite_bib"
                                   onchange="cite_bib_changed()" unchecked>
                            <label for="cite_bib">Citation as bibtex</label>
                        </div>


                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Search in specific conference/journal</legend>
                                        <div class="row">
                                            <select id="source_select" multiple>
                                                {% for category in sources.keys() %}
                                                    <optgroup label="{{ category }}">
                                                        {% for source in sources[category] %}
                                                            <option value="{{ source.full_text_name }}"
                                                                    code="{{ source.code }}">{{ source.short_name }}</option>
                                                        {% endfor %}

                                                    </optgroup>

                                                {% endfor %}
                                            </select></div>
                                        <div class="row">
                                            <input id="source_select_btn" class="btn btn-primary add-restrict"
                                                   type="button"
                                                   value="Apply Source Restriction"
                                                   onclick="add_source_restriction_to_query()"/></div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <fieldset>
                                            <legend>Search by specific subject area</legend>
                                            <div class="row">
                                                <select id="domain_select" multiple>
                                                    <option value="COMP">Computer Science</option>
                                                    <option value="AGRI">Agricultural and Biological Sciences</option>
                                                    <option value="ARTS">Arts and Humanities</option>
                                                    <option value="BIOC">Biochemistry, Genetics and Molecular Biology
                                                    </option>
                                                    <option value="BUSI">Business, Management and Accounting</option>
                                                    <option value="CENG">Chemical Engineering</option>
                                                    <option value="CHEM">Chemistry</option>
                                                    <option value="DECI">Decision Sciences</option>
                                                    <option value="DENT">Dentistry</option>
                                                    <option value="EART">Earth and Planetary Sciences</option>
                                                    <option value="ECON">Economics, Econometrics and Finance</option>
                                                    <option value="ENER">Energy</option>
                                                    <option value="ENGI">Engineering</option>
                                                    <option value="ENVI">Environmental Science</option>
                                                    <option value="HEAL">Health Professions</option>
                                                    <option value="IMMU">Immunology and Microbiology</option>
                                                    <option value="MATE">Materials Science</option>
                                                    <option value="MATH">Mathematics</option>
                                                    <option value="MEDI">Medicine</option>
                                                    <option value="NEUR">Neuroscience</option>
                                                    <option value="NURS">Nursing</option>
                                                    <option value="PHAR">Pharmacology, Toxicology and Pharmaceutics
                                                    </option>
                                                    <option value="PHYS">Physics and Astronomy</option>
                                                    <option value="PSYC">Psychology</option>
                                                    <option value="SOCI">Social Sciences</option>
                                                    <option value="VETE">Veterinary</option>
                                                    <option value="MULT">Multidisciplinary</option>
                                                </select>
                                            </div>

                                            <div class="row">
                                                <input id="source_select_btn" class="btn btn-primary add-restrict"
                                                       type="button"
                                                       value="Apply Domain Restriction"
                                                       onclick="add_domain_restriction_to_query()"/></div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <textarea id="querybox" name="query" onkeyup="textAreaChange()"
                          style="width:100%">{{ query }}</textarea>


                </fieldset>
                <input class="btn btn-secondary" type="button" value="Reset" onclick="resetAll()"/>
                <input class="btn btn-primary" id="main_button" type="button" value="Count Results"
                       onclick="handle_submit()">
            {% endif %}

        <input class="btn btn-success" id="permalink" type="button" value="Get Query Permalink"
               onclick="copyPermalink()"
               hidden/>
        <input class="btn btn-success" id="dlresults" type="button" value="Download dois as bibtex"
               onclick="downloadResults()"
               hidden/>
        <span id="dlresultsxsl" hidden>
        <input class="btn btn-success" type="button" value="export in spreadsheet"
               onclick="downloadExcel('xlsx')"
        />
        </span>
        <input class="btn btn-success" id="rss" type="button" value="Create RSS Link"
               onclick="createRssLink()"
               hidden/>
        <div id="cloud" hidden>
            <input class="btn btn-success" type="button" value="Get Cloud for these results"
                   onclick="cloudResults()"
            /><span
                class="badge bg-warning">beta</span>
        </div>


    </form>

    <div class="container" id="progress-container">
        <div class="row">

            <div class="col-md-12">
                <div>
                    <label for="file">Progress:</label>
                    <div class="progress">
                        <div role="progressbar" style="width: 0%" class="progress-bar bg-success progress-bar-animated"
                             id="pb_success" aria-valuemin="0" aria-valuenow="0"
                             aria-valuemax="0"><span id="pb_success_count"></span></div>
                        <div role="progressbar" style="width: 0%" class="progress-bar bg-warning progress-bar-animated"
                             id="pb_failure" aria-valuemin="0" aria-valuenow="0"
                             aria-valuemax="0"><span id="pb_failure_count"></span></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <img src="" id="cloudimg" hidden/>

    <table id="doitable" class="table table-bordered table-hover sortable w-auto">
        <thead>
        <tr>
            <th>Identifier</th>
            <th>Date</th>
            <th>Title</th>
            <th class="xref xref-abstract" style="width:200px">Abstract</th>
            <th class="cite_count xref">Citation Count</th>
            <th class="ref_count xref">Reference Count</th>
            <th class="subject xref">Subjects</th>
            <th>Publication Title</th>
            <th class="xref">Ranking</th>
            <th class="xref">H-Index</th>
            <th>Author</th>
            <th class="xref">Affiliation</th>
            <th class="xref">country</th>
            <th>Extra link</th>
            <th>Snowball Link</th>
            <th>Cite</th>
        </tr>
        </thead>
        <tbody id="doi_table">


        </tbody>

    </table>


</div>

</body>


<script src="static/contrib/js/dark-mode-switch.min.js"></script>

</html>
